
      /*/* AEP tags to hide publishing and non-publishing navigation*/
.ms-breadcrumb-box ul.root > li.static > a {
    display:none;
}
     /*hide Edit Links in global navigation*/
 #DeltaTopNavigation .ms-core-listMenu-root .ms-listMenu-editLink
  {
      display: none !important;
  }
  
  /*hide all links in global navigation 3/7/2016*/

.ms-core-listMenu-horizontalBox {
    visibility: hidden !important;
    
    /*display: none !important;*/
}
