.ms-core-brandingText:after{
    padding: 18px;
    content:"Your Company Portal";
}
.ms-core-brandingText{
	margin-left: -95px;
	
}
/*layout*/
body { 
	margin:0; 
	padding:0; 
	background:#fff;
    
}

#sp2013customClassification {
	/*Alternate Banner color*/
    /*background:#CC0000;*/
    /*/*Original Banner color*/ 
    /*background:rgb(115, 146, 64) ;*/ 
   background: rgb(8, 16, 79);
	padding:3px; 
	text-align: center; 
	color: rgb(255, 255, 255); 
	font-weight:600;
	
}

    
/*header*/
#suiteBarLeft {
	/*background:#4b4b4b;*/
    background: #4F4708;
	color:#fff;
	border-bottom:1px solid #000;
	border-right:1px solid #000;
}
#s4-titlerow {	
	position:relative;
	height:110px;
	padding:0;
	margin:0;
	
    background:#ccc url('customheader.png') repeat scroll left center; 
   
	border-top:2px solid #999;
	border-bottom:5px solid #999;
   
}
#s4-titlerow #titleAreaBox {
	padding:1%;
	height:auto;
}
#s4-titlerow #pageTitle {
	font-weight:400;
	margin-top: 5px !important;
	font-size:x-large;
}
/*navigation*/
#s4-titlerow .ms-breadcrumb-top {
	border:1px solid #fff;	
	background: rgba(255,255,255,.3);
   /*custom background box on global nav - required for when global nav is hidden*/
    /*min-height: 35px;*/

	
}
#s4-titlerow .ms-breadcrumb-box ul {
	margin:2px 0 0 10px;
	padding:1px;
    padding-bottom:5px;
    padding-top: 0px;
	
}
#s4-titlerow .ms-breadcrumb-box ul li.static, 
#s4-titlerow .ms-breadcrumb-box ul li[class="static dynamic-children"] { 
	padding:0 2px 4px; 
}
#s4-titlerow .ms-breadcrumb-box ul li a, #titlerow ul li a:visited { 
	color:#000; 
}
#s4-titlerow .ms-breadcrumb-box ul li a:hover {
	text-decoration:underline;
	color:#614051 !important;
}
#s4-titlerow .ms-breadcrumb-box ul li ul {
	padding:0;
	background: rgba(230,230,230,.9);
	border-color:#fff;
}
#s4-titlerow .ms-breadcrumb-box ul li ul li {
	padding:2px 5px;
	border-bottom:1px #fff solid;
}
#s4-titlerow .ms-breadcrumb-box ul li ul li:hover { 
	background: rgba(188,189,181,1);
}
#s4-titlerow div[class="ms-tableCell ms-verticalAlignTop"] div[class*="ms-floatRight"] {
	float:none;
}
#s4-titlerow #SearchBox div {
	background:#fff;
}
#s4-titlerow #searchInputBox {
	margin-top:5px;
}
#s4-titlerow .ms-siteicon-img {
	max-height:100px;
	max-width:200px;
}

/*footer*/

/*misc*/

/*left nav */
.ms-core-listMenu-verticalBox UL.root > LI > .menu-item{  
  border-bottom:1px #ddd solid;  
 }  
 .ms-core-listMenu-verticalBox > ul.root > li.static > ul.static > li.static > a:hover {  
   color: #ffffff !important;  
   background-color:#405161 !important; 
   text-decoration:none;  
 }  
 .ms-core-listMenu-verticalBox > ul.root > li.selected > a {  
    background-image:none;  
    background-color:#405161;  
   color:#ffffff !important;  
 }  
 .ms-core-listMenu-verticalBox > ul.root > li > a:hover {  
    background-image:none;	
	background: rgba(189,188,181,1);
   text-decoration:underline;  
 }  
 .ms-core-listMenu-verticalBox > ul.root > li.static > ul.static > li > a {  
  font-size:12px;  
  padding-left:10px;  
  font-family:Arial, Helvetica, Sans-Serif !important;  
 }  
 .ms-core-listMenu-verticalBox > ul.root > li.static > ul.static > li > a.selected {  
   background-image:none;  
    color: #ffffff !important;  
   background-color:#405161 !important;  
    text-decoration: none;  
    border: 1px #fff solid;  
    font-weight:bold;  
 }  
 .ms-core-listMenu-verticalBox a.selected  
 {  
  border: 1px #fff solid !important;  
 }  
 .ms-core-listMenu-verticalBox UL.root UL  
 {  
  margin:0px 0px 10px 0px !important;  
 }  
/*forces page title to be flush left after navigation control */
.ms-core-pageTitle {
    position:absolute !important; 
}

.ms-breadcrumb-top {
    white-space:normal !important;
/*important needed to override inline default style, this wraps the text on the global navigation*/
}

.CustomSP2013GlobalNav 
{
    margin: 0;
    padding: 0;
   padding-bottom: 3px;
    list-style: none;
    z-index:1000;
     /*center vertically in white box */
    margin-top: 9px !important;
    font-family:  'Segoe UI';
    
}
 
.CustomSP2013GlobalNav li
{
    float: left;
    padding: 10px;

    padding-top: 0px;
     z-index:1000;
padding-left:1px !important;
margin-left: 1px;
font-family:  'Segoe UI';
}
 
.CustomSP2013GlobalNav  ul
{
 
    display: none;
    background: #FCFCFC;
    border: 1px solid #eee;
    box-shadow: 1px 1px 7px #ccc;
    z-index: 1000;
margin-top: 7px !important;
font-family:  'Segoe UI';
}
 
.CustomSP2013GlobalNav ul li
{
    position: relative;
    display: block;
    width: 95%;
    z-index:1000;
    font-family:  'Segoe UI';
}
 
.CustomSP2013GlobalNav ul li:hover

{
    background: #eee;
     z-index:1000;
    font-family:  'Segoe UI';
         
}
 
.CustomSP2013GlobalNav > ul
{
    display: block;
     z-index:1000;
     font-family:  'Segoe UI';
   
}
 
.CustomSP2013GlobalNav > ul li
{
    display: block;
    float: left;
     z-index:1000;
     font-family: 'Segoe UI';
     
    
}
 
.CustomSP2013GlobalNav > li:hover > ul
{
    display: block;
    position: absolute;
    width: 200px;
    z-index:1000;
    font-family: 'Segoe UI';
}
 
.SP2013CustomGlobalNav > li ul li:hover > ul
{
    display: block;
    position: absolute;
    width: 200px;
    right: -200px;
    top: 0;
     z-index:1000;
     font-family: 'Segoe UI';

margin-top: 0px !important;
  
}

.SP2013CustomKeyboardNav a {

    font-size: 4px; 
    position:relative; 
    float:right;
    

}

 
  div.ms-breadcrumb-dropdownBox {
        float: left !important;
        padding-top: 5px !important;
        margin-right: 10px;
        margin-left: 5px; 
    }
 